Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build/AllDesktop/FileOpenOrder/CookerOpenOrder.log
Build/Android/FileOpenOrder/CookerOpenOrder.log
Build/Android_ASTC/FileOpenOrder/CookerOpenOrder.log
Build/Android_ATC/FileOpenOrder/CookerOpenOrder.log
Build/Android_DXT/FileOpenOrder/CookerOpenOrder.log
Build/Android_ETC1/FileOpenOrder/CookerOpenOrder.log
Build/Android_ETC1a/FileOpenOrder/CookerOpenOrder.log
Build/Android_ETC2/FileOpenOrder/CookerOpenOrder.log
Build/Android_Multi/FileOpenOrder/CookerOpenOrder.log
Build/Android_PVRTC/FileOpenOrder/CookerOpenOrder.log
Build/HTML5/FileOpenOrder/CookerOpenOrder.log
Build/IOS/FileOpenOrder/CookerOpenOrder.log
Build/Mac/FileOpenOrder/CookerOpenOrder.log
Build/MacClient/FileOpenOrder/CookerOpenOrder.log
Build/MacNoEditor/FileOpenOrder/CookerOpenOrder.log
Build/MacServer/FileOpenOrder/CookerOpenOrder.log
Build/TVOS/FileOpenOrder/CookerOpenOrder.log
Content/AI_BP/CaughtMoveTo.uasset
Content/AI_BP/Patrol_Points4.uasset
Content/AI_BP/Patrol_Points5.uasset
Content/AI_BP/Patrol_Points6.uasset
Content/Essentials/AyaPlayerCharacter_BP_backup.uasset
Content/Maps/MainMap.umap
Content/Maps/MainMap_BuiltData.uasset
Content/Maps/MainMapBoombottTest.umap
Content/Maps/MainMapBoombottTest_BuiltData.uasset
